<div class= "button">
    <!-- <button mat-raised-button color="primary" routerLink="/Login">Login</button> -->
    
    <a [routerLink]="['/']" mat-raised-button color="primary"> <strong>Home</strong></a>
    <b>&nbsp;&nbsp;</b>
    <a [routerLink]="['/Login']" mat-raised-button color="primary"> <strong>Login</strong></a>
    <b>&nbsp;&nbsp;</b>
    <a [routerLink]="['/Register']" mat-raised-button color="primary"> <strong>Register</strong></a>
    
    <!-- <button mat-raised-button color="primary" routerLink="/Register">Register</button> -->
</div> 