.main { 
    font-size:36px; 
    font-weight:bold; 
    Text-align:center; 
} 
.button1 { 
    margin-left:60px; 
    border:50px solid darkgray; 
    width:300px; 
    height:200px; 
    text-align:center; 
    padding:50px; 
} 
.button { 
    font-size:30px; 
    font-weight:bold;  
    margin-top:10px; 
    background-color: gainsboro; 
} 
.red { 
    font-size:18px; 
    font-weight:bold; 
    background-color:#c5c5db; 
} 